@model IEnumerable<RECUPO01_HernandezJorge.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create">Crear nuevo producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dimensiones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadEnStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioProveedor)
            </th>

            <th>@Html.DisplayNameFor(model => model.Ventas)</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dimensiones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadEnStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioProveedor)
            </td>

                <td>
                    <a asp-action="VentaProducto" asp-route-id="@item.CodigoProducto">Ventas</a>
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoProducto">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoProducto">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoProducto">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
